.container {
  width: 100%;
  background: linear-gradient(90deg, #d5d5d5 0%, #d4d4d4 100%);
  min-height: 120vh;
}
.overlay {
  width: 100%;
  height: 100%;
  background-image: url("../public/images/blog.webp");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 120vh;
  padding: 18vh 0px;
}
.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 20px 100px;
}
.article h1 {
  font-family: "Outfit" sans;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 109.72%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0px 50px;
  width: 50%;
}
.article h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  margin-top: 2px;
  font-size: 20px;
  line-height: 178.19%;
  text-transform: lowercase;
  color: #000000;
  text-align: justify;
}
.article p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  margin-top: 2px;
  font-size: 15px;
  line-height: 178.19%;
  text-transform: lowercase;
  color: #000000;
  width: 100%;
  margin: 20px 0px 50px 0px;
  text-align: justify;
}
.header {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.articleOverlay {
  background: rgba(0, 0, 0, 0.295);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}
@media (max-width: 768px) {
  .container h1 {
    font-size: 1.4rem;
  }
  .article {
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
  }
  .article h1 {
    font-size: 1.4em;
    text-align: center;
    color: #000000;
    width: 100%;
    padding: 0px;
  }
  .header {
    display: flex;
    flex-direction: column-reverse;
  }
  .articleOverlay {
    position: relative;
    background-color: transparent;
  }
}
