.container {
  width: 100%;
  background-color: #1e1e1e;
}
.overlay {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 18vh 0px;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 109.72%;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #d2650f;
  margin-bottom: 100px;
}
.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 200px;
}
.active {
  background-color: #000;
  color: #fff;
}
.articles {
  padding: 50px 200px;
}
.article {
  width: calc(100% / 3);
  display: inline-flex;
  padding: 20px;
}
.article img {
  width: 100%;
  cursor: pointer;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body h1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 109.72%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}
.body p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  margin-top: 2px;
  font-size: 15px;
  line-height: 178.19%;
  text-transform: lowercase;
  color: #000000;
}
.imgOverlay {
  cursor: pointer;
  width: 100%;
  height: 0%;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.466);
  color: #fff;
  transition: all 0.3s;
}
.imgOverlay img {
  width: 60%;
  aspect-ratio: 4/2;
  object-fit: contain;
}
.body a {
  position: relative;
  overflow: hidden;
}
.body a:hover .imgOverlay {
  opacity: 1;
  height: 97%;
}
.maps {
  width: 100%;
  position: relative;
  filter: grayscale(100%);
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 1.4rem;
  }
  .button {
    font-size: 0.8em;
  }
  .articles {
    padding: 20px;
  }
  .article {
    width: 100%;
    margin-bottom: 50px;
  }
  .article h1 {
    font-size: 1em;
  }
}
