.container {
  padding: 10px 8vw 150px 8vw;
  background-color: #1e1e1e;
}
.container p {
  font-weight: 700;
  font-size: clamp(18px, 2vw, 30px);
  color: #d2650f;
  text-transform: uppercase;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.year {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border: 3px solid #5a5958;
  border-radius: 35px;
  padding: 10px;
  font-weight: 700;
  font-size: clamp(13px, 1.2vw, 16px);
  color: #d2650f;
  text-transform: uppercase;
}
.desc {
  padding: 0px 20px;
  width: calc(100% - 200px);
}
.desc p {
  font-weight: 100;
  font-size: clamp(15px, 1.8vw, 30px);
  color: #ffffff;
}
.desc p:nth-of-type(2) {
  font-size: clamp(14px, 0.8vw, 24px);
  color: #cecece;
}

@media (max-width: 900px) {
  .container {
    padding: 50px 20px;
  }
  .year {
    width: 60px;
    height: 260px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -2px;
  }
  .desc {
    width: calc(100% - 60px);
  }
}
