.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  padding: 50px;
  background-color: #000;
  align-items: flex-start;
  justify-content: space-between;
}
.row:nth-last-of-type(1) {
  padding: 30px 120px;
  justify-content: flex-end;
}
.row:nth-last-of-type(1) p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 178.19%;
  text-align: justify;
  text-transform: lowercase;
}
.footer h1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 109.72%;
  display: flex;
  align-items: center;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer p {
  font-weight: 400;
  font-size: 13px;
  line-height: 178.19%;
  text-align: justify;
  text-transform: lowercase;
  color: #ffffff;
}
.col30 {
  width: 30%;
  padding: 20px;
}
.col30:nth-last-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.socials img {
  width: 20px;
  height: 20px;
}
.hr {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(170, 170, 170);
  height: 1px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .rights {
    justify-content: center;
  }
  .col30 {
    width: 100%;
  }
  .row:nth-last-of-type(1) {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
