:root {
  --main-color: #3762a0;
  --second-color: #8f1860;
  --section-bg: #06071c;
  --bg-color: #EEEEEE;
  --text-color: #4f4f4f
  --color-2: #506DDB;
  --color-3: #6D40DB;
  --color-4: #eddbf1;
  --color-5: #eac9f1;
  --color-6: #32278293;
  --shadow: rgba(213, 170, 219, 0.15) 0px 5px 18px 0px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.button {
  background-color: var(--color-4);
  color: var(--main-color); 
  padding: 8px 15px;
  width: 150px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0;
  box-shadow: var(--shadow);
}

.button:hover, .button:focus, .button.active {
  background-color: var(--color-5);
  color: var(--second-color);
}


/* Frameworks */

.container {
  max-width: 1349px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}


/* Language Swicher */

.languages img {
  border: 1px solid #EEE; 
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.5s;
}

.languages svg {
  transition: all 0.5s;
  color: #fff;
  transition: all 0.5s;
}


.shadow .languages svg {
  color: var(--main-color);
}

.languages svg.rotate {
  transform: rotate(180deg);
}

.languages {
  cursor: pointer; 
  position: relative;
}


.list-languages {
  position: absolute;
  top: 195%;
  right: 40;
  padding: 0 5px;
  background-color: rgba(50, 39, 130, 0.48);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  box-shadow: var(--shadow);
  width: 160px;
}

.list-languages.show {
  transform: scaleY(1);
  opacity: 0.9;
}

.list-languages ul {
  padding-left: 0;
}

.list-languages ul li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border-bottom: 1px solid #BBB;
  color: white;
  transition: all 0.5s;
  font-size: 13px;
  font-weight: bold;
}


.list-languages ul li:last-of-type {
  border-bottom: 0;
}

.list-languages ul li span img {
  margin-right: 10px;
}

.lang-list{
  margin-left: 8px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.3s;
}

.lang-list:hover{
  text-decoration-line: underline;
}

/*********************/
/*** ScrollBar *******/
/*********************/

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d2539;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(146, 52, 175, 0.637);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 29, 148);
}

/* Intro */

.intro_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("/images/bg-intro.webp");
  background-size: cover;
  background-position: center;
}

.planet {
 animation: rotate 400s infinite linear;
 border-radius: 50%;
 position: absolute;
 top: 5%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.intro_background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60vh;
  text-align: center;
  background: rgba(216, 165, 238, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 30px;
  padding: 20px;
}
.intro_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
}

.intro_content h1 {
  font-family: 'Hastafi PERSONAL USE ONLY', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 93.22%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #FFFFFF;
  
}

.intro_content p {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 167.22%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top:-10px;
  color: #FFFFFF;
}

/* ABOUT BLOCK */

.aboutBlock_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 450px;
  padding: 40px 0;
}

.aboutBlock_container .image_container {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about_content {
  width: 45%;
  height: 100%;
}

.about_content>h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #312782;
  margin: 0 auto 20px;
  text-transform: uppercase;
}

.about_content>p {
  font-size: 0.9rem;
  color: var(--text-color);
  margin: 0;
  padding-right: 60px;
  letter-spacing: 1px;
}

.astronaut {
  animation: astronaut 500s infinite;
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
    transform: translate(0, 0, 0);
  }
  25% {
    transform: rotate(40deg);
    transform: translate(10, 15, -50);
  }
  50% {
    transform: rotate(-40deg);
    transform: translate(0, 0, 0);
  }
  75% {
    transform: rotate(40deg);
    transform: translate3d(-60, -15, 30);
  }
  100% {
    transform: rotate(0deg);
    transform: translate3d(40, 40, -100);
  }
}

/* SERVICES BLOCK */

.servicesBlock_container {
  padding: 40px;
  background-color: var(--bg-color);
}

.servicesBlock_container > h2 {
  text-align: center;
  font-size: 2rem;
  margin: 20px auto 40px;
  color:#312782;
  text-transform: uppercase;
}

.servicesBlock_row {
  display: flex;
}

.servicesBlock_col {
  width: 50%;
  padding: 0 0px;
}

.servicesBlock_item {
  padding: 40px 80px 40px 40px;
}

.servicesBlock_item>h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0 auto 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.servicesBlock_item>p {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0 auto 30px;
  letter-spacing: 1px;
}

.bules_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
}

.servicesBlock_item:hover .bules_container {
  opacity: 1;
}


/* PROJECTS BLOCK */

.projectsBlock_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 450px;
  padding: 40px;
}

.projectsBlock_container .image_container {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 40px;
  margin-top: -200px;
  z-index: 100;
}

.projects_content {
  width: 45%;
  height: 100%;
  padding: 40px;
}

.projects_content>h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #312782;
  margin: 0 auto 20px;text-transform: uppercase;
}

.projects_content>p {
  font-size: 0.9rem;
  color: var(--text-color);
  margin: 0 0 30px;
  padding-right: 20px;
  letter-spacing: 1px;
}

/* PORTFOLIO BLOCK */

.portfolio_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.project_item {
  width: 31.5%;
  height: 250px;
  position: relative;
  margin-bottom: 40px;
}

.project_item_lg {
  width: 31.5%;
  height: 100%;
  position: relative;
  margin-bottom: 40px;
}

.project_item a {
  width: 100%;
  height: 100%;
}

.project_item_content {
  padding: 25px;
}

.project_item_content>h3 {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project_item_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(146, 135, 181, 0.3);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center
}

.project_item_overlay svg {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: #FFF;
}

.project_item_overlay:hover svg {
  opacity: 1;
  transform: scale(1.3);
}

/* Why Us */ 

.whyus_container {
  position: relative;
  padding: 20px 0;
}

.whyus_container .image_container {
  display: flex;
  justify-content: flex-end;
}

.whyus_row {
  display: flex;
}

.whyus_col {
  width: 50%;
  padding: 0px;
  overflow: visible;
}

.whyus_col>h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #312782;
  margin: 10px auto 20px;
  text-align: center;text-transform: uppercase;
}

.whyus_col>p {
  font-size: 0.9rem;
  color: var(--text-color);
  margin: 0 auto 60px;
  padding: 0 40px;
  letter-spacing: 1px;
  text-align: center;
}

.whyus_items {
  width: 100%;
  display: flex;
  padding: 10px 8%;
  background-color: #d8cced;
  justify-content: space-evenly;
  position: relative;
}

.whyus_items::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #d8cced;
  z-index: -1;
}

.whyus_item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whyus_item>h3 {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.whyus_action {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyus_action .action {
  font-size: 1.2rem;
  color: var(--main-color);
  margin-right: 15px;
}

/* Parteners */

.partenersBlock_container {
  width: 100%;
  padding: 100px 40px 40px;
  position: relative;
}

.partenersBlock_container .image-container {
  position: absolute;
  top: 50px;
  left: 0;
  width: 392px;
  height: 190px;
}

.partenersBlock_container > h2 {
  text-align: center;
  margin: 40px auto 60px;
  font-size: 2rem;
  font-weight: bold;
  color: #312782;
  text-transform: uppercase;
}

.parteners_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  transition: all 0.8s  !important;; 
}


/* About Intro */

.about_intro_container {
  width: 100%;
  height: 50vh;
  position: relative;
  background-image: url("/images/about_intro.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_intro_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(13, 3, 46, 0.6);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center
}

.about_intro_content {
  padding: 80px 10% 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about_intro_content h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
  margin: 0 auto 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.about_intro_content p {
  font-size: 1rem;
  color: #EEE;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
}

.aboutus_container {
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.aboutus_content_container {
  width: 100%;
  height: 100%;
  background:  linear-gradient(to left, #f6e7fd, transparent);
}

.aboutus_content {
  background-image: url("/images/fathai.webp");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 40%;
  padding: 40px 10%;
}

.aboutus_content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  color: #312782;
  text-transform: uppercase;

}

.aboutus_content p {
  width: 100%;
  color: #444;
  letter-spacing: 1px;
  padding-right: 20%;

}

.aboutResume_container {
  width: 100%;
  padding: 50px 8%;
  position: relative;
  background-image: url("/images/about-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aboutResume_col {
  width: 45%;
  padding: 20px 40px;
}

.aboutResume_item {
  width: fit-content;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom left, #efdbf8, transparent);
  border-radius: 40px;
  padding-left: 25px;
  margin-bottom: 15px;
}

.aboutResume_item > h3{
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Portfolio Page */

.ourPortfolio_container {
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.ourPortfolio_content_container {
  width: 100%;
  height: 100%;
  background:  linear-gradient(to left, #f6e7fd, transparent);
}

.ourPortfolio_content {
  background-image: url("/images/mask.webp");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 40%;
  padding: 40px 10%;
}

.ourPortfolio_content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  color: #312782;
  text-transform: uppercase;

}

.ourPortfolio_content p {
  width: 100%;
  color: #444;
  letter-spacing: 1px;
  padding-right: 20%;

}

.ourPortfolio_items {
  padding: 20px 8%;
}

.ourPortfolio_project_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #EEE;
}

.ourPortfolio_project_item.odd {
  flex-direction: row-reverse;
}

.ourPortfolio_project_item .ourPortfolio_project_item_image {
  width: 30%;
}

.ourPortfolio_project_item .ourPortfolio_project_item_content {
  width: 65%;
}

.ourPortfolio_project_item a {
  width: 100%;
  height: 100%;
}

.ourPortfolio_project_item_content {
  padding: 25px;
}

.ourPortfolio_project_item_content>h3 {
  font-size: 1.8rem;
  color: var(--main-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ourPortfolio_project_item_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(146, 135, 181, 0.3);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center
}

.ourPortfolio_project_item_overlay svg {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: #FFF;
}

.ourPortfolio_project_item_overlay:hover svg {
  opacity: 1;
  transform: scale(1.3);
}

.ourPortfolio_project_item_tags {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.ourPortfolio_project_item_tags span {
  margin-right: 10px;
  font-size: 12px;
  color: var(--color-3);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid var(--color-3);
  border-radius: 40px;
  padding: 6px 10px;
}

.filter_actions {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 calc(8% + 20px) 30px;
}

.filter_actions .button {
  margin-right: 15px;
  margin-bottom: 10px;
  white-space: nowrap;
  width: fit-content;
}

/* News Intro */

.news_intro_container {
  width: 100%;
  height: 50vh;
  position: relative;
  background-image: url("/images/about_intro.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article_intro_container {
  width: 100%;
  height: 50vh;
  position: relative;
  background-image: url("/images/about_intro.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_intro_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(13, 3, 46, 0.6);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center
}

.news_intro_content {
  padding: 80px 10% 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.news_intro_content h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
  margin: 0 auto 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.news_intro_content p {
  font-size: 1rem;
  color: #EEE;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
}

/* Article Intro */

.article_intro_container {
  width: 100%;
  height: 50vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* News Page - Creo News Component */

.ourNews_container {
  padding: 80px 0 0;
}

.ourNews_content_container {
  width: 100%;
  height: 100%;
  background:  linear-gradient(to left, #f6e7fd, transparent);
}

.ourNews_content {
  background-image: url("/images/news_intro.webp");
  background-repeat: no-repeat;
  background-position: right 50%;
  background-size: 40%;
  padding: 40px 10%;
}

.ourNews_content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  color: #312782;
  text-transform: uppercase;

}

.ourNews_content p {
  width: 100%;
  color: #444;
  letter-spacing: 1px;
  padding-right: 20%;

}

.ourNews_items {
  display: flex;
  justify-content: space-between;
  padding: 40px 8%;
}

.ourNews_item {
  width: 32%;
  padding: 20px;
  margin-bottom: 30px;
}

.ourNews_item a {
  width: 100%;
  height: 100%;
}

.ourNews_item_content {
  padding: 20px 10px;
}

.ourNews_item_content h3 {
  font-size: 1.4rem;
  color: var(--main-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.1;
  height: 40px;
}

.ourNews_item_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(146, 135, 181, 0.3);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center
}

.ourNews_item_overlay svg {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: #FFF;
}

.ourNews_item_overlay:hover svg {
  opacity: 1;
  transform: scale(1.3);
}

.ourBlog_container {
  padding: 0 8% 80px;
}

.ourBlog_content h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  color: var(--main-color);
  text-transform: uppercase;
}

.ourBlog_content p {
  width: 100%;
  color: #444;
  letter-spacing: 1px;
}

.ourBlog_content span {
  width: 100%;
  color: var(--color-3);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ourBrochure_container {
  padding: 150px 0;
  position: relative;
}

.ourBrochure_content_container {
  width: 100%;
  height: 100%;
  background:  linear-gradient(to left, #f6e7fd, transparent);
}

.ourBrochure_content {
  background-image: url("/images/news_intro.webp");
  background-repeat: no-repeat;
  background-position: right 50%;
  background-size: 40%;
  padding: 40px 5%;
}

.ourBrochure_content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  color: #312782;
  text-transform: uppercase;

}

.ourBrochure_content p {
  width: 100%;
  color: #444;
  letter-spacing: 1px;
  padding-right: 20%;

}

.image_rocket_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image_rocket {
  width: 45%;
  height: 100%;
  position: relative;
  padding-right: 40px;
  margin-top: -750px;
  z-index: 100;
}

.contactBlock_container {
  width: 100%;
  padding: 100px 8%;
  background: linear-gradient(to left, #f6e7fd86, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.contactBlock_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactBlock_content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  color: #312782;
  text-transform: uppercase;
}

.contactBlock_content h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 145.69%;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  color: #312782;

}

.contactBlock_content p {
  font-size: 0.8rem;
  width: 100%;
  color: #444;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 40px;
}

/* Contact Page */

.contactus_container {
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.contactus_content_container {
  width: 100%;
  height: 100%;
  background:  linear-gradient(to left, #f6e7fd, transparent);
}

.contactus_content {
  background-image: url("/images/contactus.webp");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 40%;
  padding: 40px 10%;
}

.contactus_content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  color: #312782;
  text-transform: uppercase;

}

.contactus_content p {
  width: 100%;
  color: #444;
  letter-spacing: 1px;
  padding-right: 20%;
}

.form_container {
  width: 100%;
  padding: 0 8% 50px;
}

.form_row {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form_col {
  width: 31%;
}

.form_input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #EEE;
  border-radius: 0;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #444;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(216, 165, 238, 0.5);
  border-top: none;
  border-right: none;
  border-left: none;
}
.form_input_field{
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #EEE;
  border-radius: 0;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #444;
  letter-spacing: 1px;
  border:none;
  background: #F4F2F2;
  border-radius: 30px;
}

.form_actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form_actions p{
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 141.69%;
  letter-spacing: 0.105em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #312782;
}

.contactMap_container {
  width: 100%;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f4f2f2;
  margin: 0 auto -25px;
}

.contactMap_content {
  width: 50%;
  height: 100%;
  padding: 0 8%;
}

.map_container {
  width: 50%;
  height: 100%;
  padding: 0;
}

.spinner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}


@media (max-width: 500px) {
  /* Mobile */
  .intro_content h1 {
    font-size: 2.3rem;
    line-height: 3rem;
    margin-bottom: 25px;
  }
  .intro_content {
    width: 80%;
    padding: 15px 10px
  }
  .intro_content p {
    font-size: 10px;
  }
  .intro_background{
    width: 80%;
    padding: 15px 10px
  }
  .aboutBlock_container {
    flex-direction: column
  }
  .aboutBlock_container>div {
    width: 100% !important;
    padding: 20px
  }
  .servicesBlock_row {
    flex-direction: column;
  }
  .servicesBlock_col {
    width: 100% !important;
  }
  .servicesBlock_item {
    padding: 0;
    margin-bottom: 40px;
  }
  .projectsBlock_container {
    flex-direction: column;
    padding-bottom: 0;
  }

  .projects_content {
    width: 100%;
    padding: 0px
  }
  .projectsBlock_container .image_container {
    width: 100%;
    padding: 0;
    height: auto ;
    opacity: 0.3;
  }
  .portfolio_container {
    flex-direction: column;
    padding: 0
  }
  .project_item {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
  .whyus_row {
    flex-direction: column;
  }
  .whyus_col {
    width: 100%;
  }
  .whyus_items {
    padding: 10px 0;
  }
  .whyus_item {
    width: 25%
  }
  .whyus_item>h3 {
    font-size: 0.8rem;
    letter-spacing: 0;
  }
  .partenersBlock_container {
      padding: 100px 10px 40px;
  }
  .partenersBlock_container .image-container {
    top: -50px;
  }
  .parteners_items {
    padding: 0;
  }
  footer {
    padding: 20px 10px !important;
  }
  .about_intro_container {
    height: 80vh;
  }
  .filter_actions {  width: 16%;
    flex-wrap: wrap;
    padding: 20px
  }
  .ourPortfolio_project_item_content>h3 {
    font-size: 1.5rem;
  }
  .ourPortfolio_project_item .ourPortfolio_project_item_image {
    width: 100%;
  }
  .ourPortfolio_project_item .ourPortfolio_project_item_content {
    width: 100%;
  }
  .ourPortfolio_project_item {
    flex-wrap: wrap;
    padding: 25px;
  }
  .aboutResume_col {
    width: 100%;
    padding: 20px;
  }
  .aboutus_container {
    padding-bottom: 25px;
  }
  .news_intro_container {
    height: 80vh;
  }
  .ourNews_items {
    flex-wrap: wrap;
  }
  .ourNews_item {
    width: 100%;
    padding: 0;
  }
  .image_rocket_container {
    display: none;
  }
  .form_row {
    flex-direction: column;
  }
  .form_col {
    width: 100%;
    padding: 0;
  }
  .contactMap_container {
    flex-direction: column;
  }
  .contactMap_content {
    width: 100%;
    padding: 20px;
  }
  .map_container {
    width: 100%;
    padding: 0;
  }
}

@import "bules.css";