* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.button {
  background-color: black;
  color: white;
  padding: 8px 15px;
  width: 150px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0;
  border: 1px solid black;
}

.button:hover,
.button:focus,
.button.active {
  border: 1px solid black;
  background-color: white;
  color: black;
}

/*********************/
/*** ScrollBar *******/
/*********************/

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(99, 99, 99, 0.637);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(80, 80, 80, 0.637);
}
