* {
  box-sizing: border-box;
}

:root {
  --PrimaryMainColor: #0f6ad2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.button {
  background-color: var(--PrimaryMainColor);
  color: white;
  padding: 8px 15px;
  width: 150px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0;
  border: 1px solid var(--PrimaryMainColor);
}

.button:hover,
.button:focus,
.button.active {
  border: 1px solid var(--PrimaryMainColor);
  background-color: white;
  color: var(--PrimaryMainColor);
}

/*********************/
/*** ScrollBar *******/
/*********************/

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(99, 99, 99, 0.637);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--PrimaryMainColor);
}
.spinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.cv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px 0px 0px;
}
@media (max-width: 900px) {
  .cv {
    padding: 30px 0px 0px 0px;
  }
}
