.container {
  width: 100%;
  background-color: #1e1e1e;
}
.container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0px;
  left: 0px;
}
.col60 {
  width: 60%;
  padding: 0px 0px 150px 8vw;
}
.col40 {
  width: 40%;
  height: 80%;
  display: flex;
  align-items: flex-end;
}
.col40 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container h1 {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 40px);
  color: #d2650f;
  text-transform: uppercase;
  margin: 0px;
}
.container h2 {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 40px);
  color: #ffffff;
  text-transform: uppercase;
  margin: 0px;
}
.container h3 {
  font-weight: 700;
  font-size: clamp(18px, 1vw, 30px);
  color: #d2650f;
  text-transform: uppercase;
  margin: 0px;
}
.container p {
  font-style: normal;
  font-weight: 275;
  font-size: clamp(16px, 1vw, 20px);
  color: #ffffff;
  margin: 0px;
}
.row {
  margin-top: 20px;
}
.row img {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}

@media (max-width: 900px) {
  .overlay {
    flex-direction: column-reverse;
  }
  .col40 {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .col40 img {
    width: 70%;
  }
  .col60 {
    width: 100%;
    padding: 20px;
  }
}
