.container {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
}
.container > img {
  width: 10dvw;
  height: 10dvw;
  min-width: 100px;
  min-height: 100px;
  object-fit: contain;
  position: absolute;
  z-index: 5;
  animation: rotate 3s linear infinite;
}
.container > img:nth-child(1) {
  left: 10%;
  bottom: 10%;
  animation: circle 8s linear infinite;
}
.container > img:nth-child(2) {
  left: 30%;
  bottom: 30%;
  width: 20dvw;
  height: 20dvw;
  min-width: 200px;
  min-height: 200px;
  animation: circle 10s linear infinite;
}
.container > img:nth-child(3) {
  left: 15%;
  bottom: 35%;
  width: 15dvw;
  height: 15dvw;
  min-width: 150px;
  min-height: 150px;
  animation: circle 6s linear infinite;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.col60 {
  width: 60%;
  padding: 0px 0px 150px 8vw;
}
.col40 {
  width: 40%;
  height: 80%;
  display: flex;
  align-items: flex-end;
}
.col40 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container h1 {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 40px);
  color: var(--PrimaryMainColor);
  text-transform: uppercase;
  margin: 0px;
}
.container h2 {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 40px);
  color: #ffffff;
  text-transform: uppercase;
  margin: 0px;
}
.container h3 {
  font-weight: 700;
  font-size: clamp(18px, 1vw, 30px);
  color: var(--PrimaryMainColor);
  text-transform: uppercase;
  margin: 0px;
}
.container p {
  font-style: normal;
  font-weight: 275;
  font-size: clamp(16px, 1vw, 20px);
  color: #ffffff;
  margin: 0px;
}
.row {
  margin-top: 20px;
}
.row img {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}

@media (max-width: 900px) {
  .overlay {
    flex-direction: column-reverse;
    align-items: center;
  }
  .col40 {
    flex: 1;
    justify-content: center;
    width: auto;
  }
  .col40 img {
    width: 70%;
  }
  .col60 {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 420px) {
  .col40 img {
    width: 100% !important;
  }
  .col40 {
    margin-bottom: -60px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes circle {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}
