.container {
  background-color: #1e1e1e;
  width: 100%;
  height: 100%;
  background-size: contain;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding: 18vh 8vw;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col60 {
  width: 60%;
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(30px, 4vw, 90px);
  background: linear-gradient(179.36deg, #5a5958 -34.99%, #202020 99.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.col40 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.col40 img {
  width: 100%;
  opacity: 0.9;
  mix-blend-mode: screen;
}
.projects {
  padding: 50px 0px;
  overflow: hidden;
}
.project {
  width: calc(100% / 3);
  display: inline-flex;
  padding: 20px;
  margin-bottom: 30px;
}
.project img {
  width: 100%;
  object-fit: fill;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(15px, 1.8vw, 30px);
  color: #ffffff;
  margin: 5px 0px;
}
.body p {
  font-weight: 100;
  font-size: clamp(14px, 0.8vw, 24px);
  color: #cecece;
  margin: 0px;
}
.gallery {
  width: 100%;
  height: 100%;
}
.gallery .images {
  width: 100%;
  padding: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  flex-direction: column;
}
.gallery img {
  margin: 50px 0px;
  width: 100%;
  object-fit: contain;
  box-shadow: 0px 0px 15px #000;
  background-color: #fff;
}
.close {
  z-index: 10000;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  color: black;
  box-shadow: 0px 0px 50px #000;
  background-color: #fff;
  border-radius: 50%;
}
.tags {
  width: 100%;
  margin-top: 10px;
}
.tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #b4b4b4;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px 5px 5px 0px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .button {
    font-size: 0.8em;
  }
  .projects {
    padding: 0px;
  }
  .project {
    width: 100%;
    padding: 0px;
  }
  .project h1 {
    font-size: 1em;
  }
  .gallery .images {
    padding: 20px;
  }
  .header {
    flex-direction: column;
    height: 100%;
    margin-bottom: 10px;
  }
  .col40 {
    width: 100%;
  }
  .col40 img {
    height: 100%;
  }
  .col60 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .container {
    padding: 8vh 8vw;
  }
}
