.container {
  width: 100%;
  position: relative;
  min-height: 120vh;
}
.container img {
  width: 100%;
  margin-bottom: -10px;
}
.swiper {
  width: 80%;
  margin: 50px 10%;
}
.partner {
  width: calc(100%);
  display: flex;
  justify-content: center;
}
.partner img {
  width: 48%;
  aspect-ratio: 3/2;
  filter: grayscale(100%);
  object-fit: contain;
  transition: all 0.3s;
}
.partner img:hover {
  filter: none;
}
.overlay {
  position: absolute;
  top: 0vh;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 200px 150px;
  background-color: rgba(0, 0, 0, 0.253);
}
.hr {
  width: 40%;
  height: 1px;
  background-color: white;
  transition: all 0.3s;
}
.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 100px 0px;
}
.row:nth-of-type(2) {
  justify-content: flex-end;
}
.col {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 109.72%;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #ffffff;
}
.title h1:nth-of-type(1) {
  margin-right: 20px;
  -webkit-text-stroke: 2px #d9027e;
  color: transparent;
}
.description {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 178.19%;
  color: #ffffff;
  transition: all 0.8s;
}
.col:hover .hr {
  width: 80%;
}
@media (min-width: 1367px) {
  .title h1 {
    font-size: 60px;
  }
  .description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }
  .container img {
    height: 100%;
    width: auto;
  }
  .overlay {
    padding: 150px 15px;
    background-color: rgba(0, 0, 0, 0.253);
  }
  .title h1 {
    font-size: 25px;
  }
  .col {
    width: 100%;
  }
  .description {
    font-size: 17px;
  }
  .partner img {
    width: 70%;
  }
  .row {
    margin: 200px 0px;
  }
}
