.container {
  padding: 10px 8vw 150px 8vw;
  background-color: #1e1e1e;
  overflow: hidden;
}
.container p {
  font-weight: 700;
  font-size: clamp(18px, 2vw, 30px);
  color: #d2650f;
  text-transform: uppercase;
}
.container img {
  width: 40%;
}
.imgHolder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rating {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 100%;
  row-gap: 30px;
  padding: 20px;
  border: 1px solid #868686;
}

@media (max-width: 900px) {
  .container {
    padding: 50px 20px;
  }
  .year {
    width: 140px !important;
  }
  .grid {
    grid-template-columns: auto auto;
  }
}
