.container {
  padding: 10px 8vw 150px 8vw;
  background-color: #1e1e1e;
  overflow: hidden;
}
.container p {
  font-weight: 700;
  font-size: clamp(18px, 2vw, 30px);
  color: var(--PrimaryMainColor);
  text-transform: uppercase;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.year {
  width: 120px !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border: 3px solid #5a5958;
  border-radius: 35px;
  padding: 10px;
  font-weight: 700;
  font-size: clamp(12px, 1.2vw, 16px);
  color: var(--PrimaryMainColor);
}
.desc {
  padding: 0px 20px;
  width: calc(100% - 120px);
}
.desc p {
  font-weight: 100;
  font-size: clamp(14px, 1.8vw, 30px);
  color: #ffffff;
  margin: 0px;
}
.desc p:nth-of-type(2) {
  font-size: clamp(12px, 1.8vw, 18px);
  color: #858382;
  margin: 0px;
}

@media (max-width: 900px) {
  .container {
    padding: 50px 20px;
  }
  .year {
    width: 95px !important;
  }
  .desc {
    width: calc(100% - 95px);
  }
}
